body {
    text-align: center;
    margin: 3em 0;
    background-color: #ECEBE4;
    color:#153B50;
    font-size:1.3em;
    font-family: 'Roboto', sans-serif;
   }

  hr{
    margin:2em 0;
   }

  select {
   color:#153B50;
   font-family: 'Roboto', sans-serif;
   }

  button {
    margin:1em .5em;
    background:#429EA6;
    border:none;
    padding:.5em 1em;
    color:#ECEBE4;
    font-weight: bold;
    border-radius: 4px;
    cursor:pointer;
    transition-duration: 0.4s;
   }
  button:hover {
    background:#425EA6;
  }

  .grid {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) minmax(170px, 1fr);
    justify-content: flex-end;
    grid-gap:10px;
    margin-left:-25%;
   }

  .grid > label{
    align-self:center;
    justify-self:flex-end;
    font-size:1rem;
    font-weight:400;
   }

  .grid > input{
    align-self:center;
    justify-self: flex-start;
   }